<div class='container'>

  <div class="navbar-right">
    <%= link_to "Read", @article %> |
    <%= link_to "Edit", @article, method: :put  %> |
    <%= link_to "View History", article_versions_path(@article) %>
  </div>

  <div id='article-table-of-contents'>
    <ol>
    <% @sections.each do |section| %>
      <li><%= section.html_safe %></li>
    <% end %>
    </ol>
  </div>

  <div id='article-contents'>
    <h1><%= @article.versions.last.title %></h1>
    <p><%= @article.versions.last.body.html_safe %></p>
  </div>
</div>
