  <div class="container featured-articles">
  <h1>Featured Articles:</h1>
    <div class="row">
      <% article1 = Article.all.sample %>
      <% homepage_articles = Article.where.not(id: article1.id) %>

      <div class="col-md-3 featured-article-img">
        <img src="<%= article1.try(:images).try(:sample).try(:url) || "/assets/rat-logo.png" %>" alt="varmint" class="img-responsive">
      </div>
      <div class="col-md-8 featured-article">
        <h3><%= link_to article1.title, article_path(article1) %></h3>
        <p><%= article1.body %></p>
      </div>
    </div>

    <div class="row">
      <% article2 = homepage_articles.sample %>

      <div class="col-md-3 featured-article-img">
        <img src="<%= article2.try(:images).try(:sample).try(:url) || "/assets/rat-logo.png" %>" alt="varmint" class="img-responsive">
      </div>
      <div class="col-md-8 featured-article">
        <h3><%= link_to article2.title, article_path(article2) %></h3>
        <p><%= article2.body %></p>
      </div>
    </div>
  </div>

