  <div class="container featured-articles">
  <h1>Featured Articles:</h1>
    <div class="row">
      <% article1 = @articles.sample %>
      <% homepage_articles = Article.where.not(id: article1.id) %>
      <% image1 = article1.try(:images).try(:sample) %>

      <div class="col-md-3 featured-article-img">
        <img src="<%= image1.try(:url) %>" alt="<%= article1.title %>">
      </div>
      <div class="col-md-8 featured-article">
        <h3><%= link_to article1.title, article_path(article1) %></h3>
        <p><%= article1.body %></p>
      </div>
    </div>

    <div class="row">
      <% article2 = homepage_articles.sample %>
      <% image2 = article2.try(:images).try(:sample) %>
      <div class="col-md-3 featured-article-img">
        <img src="<%= image2.try(:url) %>" class="img-responsive img-thumbnail" alt="<%= article2.title %>">
      </div>
      <div class="col-md-8 featured-article">
        <h3><%= link_to article2.title, article_path(article2) %></h3>
        <p><%= article2.body %></p>
      </div>
    </div>
  </div>

